/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
    */

    body    {
     background: url("./Spinwheel_background.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: arial;
 }

 /* Sets the background image for the wheel */
 .the_wheel   {
    margin: 100px auto;
    width: 420px;
    /* background-image: url(./Wheel.png); */
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    height: 420px;
    border-radius: 50%;
    padding: 0 !important;
}

/* Do some css reset on selected elements */
h1, p{
    margin: 0;
}

div.power_controls{
    margin-right:70px;
}

div.html5_logo{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th{
    background-color: white;
    cursor: default;
}

td.pw1{
    background-color: #6fe8f0;
}

td.pw2{
    background-color: #86ef6f;
}

td.pw3{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom{
    margin-bottom: 5px;
}

canvas {
    width: auto;
    height: auto;
    margin: 106px auto; /*0 auto */
    padding: 10px;
    position: relative;
    /*background-image: url(./Wheel.png);*/
    background-size: contain;
}
.OrangeDude img{
    display: inline-block;
    overflow: hidden;
    position: absolute;
    float: right;
    margin: 102px 0px 0px 394px;
    width: 285px;
    z-index: 1;
}
.SpeechBubble img{
    position: absolute;
    overflow: hidden;
    z-index: 9;
    margin: -84px 0 0 191px;
    height: 216px;
    width: 300px;
}
.BlueDude img{
    width: 135px;
    position: absolute;
    margin:153px 0 0 644px;
    z-index: 9;
}
.Coins img{
    position: absolute;
    z-index: 9;
    margin: -178px 0 0 234px;
}
.Money img{
    width: 369px;
    position: relative;
    margin: -224px 0 0 -176px;
    z-index: 9;
}
.RedDude img{
    position: absolute;
    z-index: -222;
    margin: 372px 0px 0px -253px;
}
.DarkBlueDude img{
    width: 348px;
    position: absolute;
    z-index: -999;
    margin: 159px 0 0 -312px;
}
.Ticker img{
    position: absolute;
    z-index: 0;
    margin: -385px 0 0 160px;
}
.text{
   position: absolute;
   z-index: 1000;
   margin: -50px 0 0 400px;
}
.text1{
   margin: 0px 0 0 -221px;
}
.button{
    width: 100px;
    margin: 5px 0 0 15px;
}

input{
 width: 100%;
 margin-left: -122px;
 margin-top: 20px;
 border: 1px solid black;
 font-size: 12px;
 line-height: 20px;
 padding: 5px;
}

/*.btn-primary{
    background-color: #F3BD54 !important;
}*/

h3 {
    margin-bottom: 6px;
    margin-left: -229px;
}

.custom-btn{
    margin-left: -78px;
    background-color: #F3BD54;
    color: white;
}

.section{
    width: 130px;
}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 768px) {
    /*
   .the_wheel{
        margin: 600px auto;
        width: 420px;
        background-image: url(./Wheel.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 5px;
        height: 420px;
        border-radius: 50%;
        padding: 0 !important;
    }
    */
}